@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root,
html[data-theme="light"] {
	--themeBg: #ffffff;
	--themeBgText: rgba(240, 240, 240, 0.678);
	--head-primary: #000000;
	--navLink: #334155;
}

html[data-theme="dark"] {
	--themeBg: #0a0014;
	--themeBgText: #0e001de8;
	--head-primary: #ffffff;
	--navLink: #94a3b8;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	background-color: var(--themeBg);
	transition: background-color ease-in-out 0.25s;
}

text-horizontal {
	writing-mode: unset;
}

text-vertical {
	writing-mode: vertical-lr;
}
